<!DOCTYPE html>
<html ng-app="vocab_builder">
<head>
    <title>Vocab Builder</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script>
        angular.module("vocab_builder", []);
    </script>
    <script src="controllers/vocab_builder.js"></script>
</head>
<body ng-controller="vocab_builder_controller">
    <div class="navbar navbar-inverse">
        <a class="navbar-brand" href="#">BUILD YOUR VOCABULARY</a>
    </div>
    <div class="col-xs-8">
      <div class="well" >
            <h3>
                <strong>{{current_result.question}}</strong>
            </h3>
      </div>
      <div class="radio" >
            <h2>
              <label><input type="radio" name="answerchoice" ng-click="checkAnswer(0)">{{current_result.choice1}}</label>
            </h2>
      </div>
      <div class="radio" >
            <h2>
              <label><input type="radio" name="answerchoice" ng-click="checkAnswer(1)">{{current_result.choice2}}</label>
            </h2>
      </div>
      <div class="radio" >
            <h2>
              <label><input type="radio" name="answerchoice" ng-click="checkAnswer(2)">{{current_result.choice3}}</label>
            </h2>
      </div>
      <div class="radio" >
            <h2>
              <label><input type="radio" name="answerchoice" ng-click="checkAnswer(3)">{{current_result.choice4}}</label>
            </h2>
      </div>
      <div class="radio" >
            <h2>
              <label><input type="radio" name="answerchoice" ng-click="checkAnswer(4)">{{current_result.choice5}}</label>
            </h2>
      </div>
      <div ng-hide="answered">
            <h3>
                Pick a meaning that's closest to the given word.
            </h3>
      </div>
      <div ng-show="answered">
            <h3>{{answer_result}}</h3>
      </div>
      <button ng-click="getNextQuestion()" class="btn">
          <span ng-show="answered">Next Queston</span>
          <span ng-hide="answered">Skip this Queston</span>
      </button>
    </div>
</body>
</html>
